.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .centered-table {
    border-collapse: collapse;
    width: 80%;
    border: 2px solid #ccc;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .centered-table th,
  .centered-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  .centered-table th {
    background-color: #f2f2f2;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: justify;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="date"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  div {
    color: rgb(72, 45, 45);
    margin-top: 10px;
  }
  